:root {
    --branco: #fff;
    --cinza-claro: #F0F0F0;
    --cinza-medio: #C0C0C0;
    --cinza-escuro: #666;
    --roxo-principal: #6c45d9;
    --roxo-escuro: #5030a8;
    --lilas: #f1ddff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    background: url(img/bg1.jpg) no-repeat center / cover;
    position: relative;
    padding-bottom: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--roxo-principal);
    color: var(--branco);
    font-size: 16px;
    padding: 15px 20px;
    z-index: 10;
}

.upload-container {
    display: flex;
    align-items: center;
}

.upload-label {
    background-color: var(--branco);
    color: var(--roxo-principal);
    padding: 10px 20px;
    border-radius: 8px;
    font: bold 14px/1.5 'Inter', sans-serif;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.upload-label:hover {
    background-color: var(--roxo-principal);
    color: var(--branco);
}

.janela {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90vw;
    height: 85vh;
    margin: 100px auto 0;
    padding: 30px;
    background: var(--cinza-claro);
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 2;
    overflow: hidden;
    justify-content: space-between;
}

.relogio {
    width: 90%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background-color: var(--branco);
    border: 7px solid var(--cinza-medio);
    border-radius: 20px;
    color: var(--cinza-escuro);
    margin: 0 auto;
}

.novo-registro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btn-novo-registro {
    padding: 15px 30px;
    background-color: var(--roxo-principal);
    color: var(--branco);
    border: none;
    border-radius: 10px;
    font: bold 18px/1.5 sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn-novo-registro:hover {
    background-color: var(--roxo-escuro);
    color: var(--lilas);
    transform: scale(1.01);
}

.tabela {
    width: 90%;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background: var(--branco);
}

thead {
    background-color: #7552D9;
    color: var(--branco);
}

thead th {
    padding: 15px 20px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: var(--branco);
}

tbody td {
    padding: 15px 20px;
    text-align: left;
    color: #333;
    border-bottom: 1px solid var(--cinza-medio);
}

.btn-logout {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--branco);
    color: var(--cinza-escuro);
    border: none;
    border-radius: 25px;
    font: 999 16px/1.5 sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    max-width: 300px;
    margin: 20px auto;
}

.btn-logout:hover {
    background-color: var(--cinza-medio);
    color: var(--cinza-claro);
    transform: scale(1.01);
}
